/build/
/dist/
/target/
/src/main/resources/version.txt
/src/main/resources/VERSION.txt
/src/main/webapp/WEB-INF/glassfish-resources.xml
/faces-config.NavData
.idea
README.md
mobitel-sms-mw.iml
nb-configuration.xml

nbproject/private/
nbproject/Makefile-impl.xml
nbproject/Makefile-debug.xml

*.log
*.cache

out

config.properties
